/Boolen13.class
/Byte3e.class
/Byte4.class
/Casting4.class
/Casting5.class
/Casting6.class
/Casting7.class
/Casting8.class
/Casting9.class
/Char14.class
/Charint16.class
/Charintt17.class
/Charx15.class
/Constr2.class
/Double11.class
/Doublex12.class
/Float9.class
/Floatx10.class
/ImpCasting1.class
/Impcast2.class
/Impcast3.class
/Int1.class
/Int6.class
/Long7.class
/Longx8.class
/Main.class
/Program2.class
/Short5.class
/agecheck4.class
/constr1.class
/constradder.class
/divisibleby5.class
/do_while7.class
/evenodd.class
/factorial8.class
/forloop9.class
/globalvar1.class
/globalvar2.class
/globalvar3.class
/globalvar4.class
/globalvar5.class
/globalvar6.class
/if1.class
/if2.class
/if3.class
/if4.class
/ifgreater.class
/input1.class
/input2.class
/input3.class
/input4.class
/input5.class
/loop1.class
/object1.class
/object2.class
/object3.class
/object4.class
/palindrome11.class
/reverse10.class
/whileloop6.class
